.header {
    background-color: #6422d6;
    display: flex;
    align-items: center;
    height: 5vh;
    color: white;
    padding: 0.2em 1.5em;
}

.header__toolbar {
    flex: 1;
}

.header__toolbar > span {
    font-family: var(--ff-roboto-bold);
    font-size: 1.5rem;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__box > span {
    font-family: var(--ff-roboto-regular);
    font-size: 0.95rem;
}

.header__box__search {
    display: flex;
    background-color: #ffffff80;
    margin-left: 1.1em;
    margin-right: 5em;
    border-radius: 10px;
    padding: 1.1em;
    height: 10px;
}

.header__box__search__icon {
    height: 100%;
    padding: 0.2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__box__search__input {
    padding: 0.1em 0.1em 0 0.5em;
    font-family: var(--ff-roboto-thin);
}


@media screen and (max-width: 576px) {
   .header__toolbar > span {
        font-size: 1.1rem;
    }

    .header__box > span {
        display: none;
    }

    .header__box {
        flex: 1;
        justify-content: flex-end;
    }

    .header__box__search {        
        margin-left: 0;
        margin-right: 0;
        padding: 0.75em;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .header__toolbar {
        flex: 1.5;
    }

    .header__toolbar > span {
        font-size: 1.3rem;
    }

    .header__box > span {
        font-size: 0.75rem;
    }

    .header__box__search {        
        margin-left: 0.75em;
        margin-right: 2.5em;
        padding: 0.75em;
        height: 30px;
    }
}

@media screen and (max-width: 1440px) {
    .header {
        height: 10vh;
    }
}